.Login {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('../../components/image/login_bg.jpg');
  background-size: 100% 100%;
  min-width: 960px;
  display: flex;
  align-items: center;
  >ul {
    width: 400px;
    height: 300px;
    margin: 0 auto;
    background: #ffffff96;
    border-radius: 10px;
    overflow: hidden;
    padding: 30px;
    >p {
      height: 20px;
      width: 80%;
      margin-left: 10%;
      color: #fd6c72;
      text-align: right;
    }
    >li {
      width: 80%;
      height: 40px;
      margin-top: 20px;
      margin-left: 10%;
      position: relative;
      border-bottom: 1px solid #000;
      >.icon {
        //position: absolute;
        width: 40px;
        height: 40px;
        background-size: 100% 100%;
        top: 0;
        left: 0;
        display: inline-block;
      }
      >.Input {
        height: 100%;
        width: 100%;
        >input {
          height: 100%;
          font-size: 15px;
          position: absolute;
          margin-left: 10px;
          background: transparent;
        }
      }
    }
    >li:nth-child(1) {
      margin-top: 0;
      >.icon {
        background: url('../../components/image/login_username.png') no-repeat;
      }
    }
    >li:nth-child(2) {
      >.icon {
        height: 39px;
        background: url('../../components/image/login_password.png') no-repeat;
      }
    } 
    >li:nth-child(3) {
      >.icon {
        height: 39px;
        background: url('../../components/image/login_verification.png') no-repeat;
      }
      >.veri {
        position: absolute;
        display: inline-block;
        height: 80%;
        top: 10%;
        width: 80px;
        background: #00000047;
        border-radius: 5px;
        right: 0;
        text-align: center;
      }
    }
    >li:nth-child(5) {
      border-bottom: 0;
      >.Button {
        width: 100%;
        height: 100%;
        background: #00000063;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        font-weight: 600;
      }
      >.Button:hover {
        background: rgba(0, 0, 0, 0.589);
        color: rgba(255, 255, 255, 0.651);
      }
    }
  }
}